section.about-service
  .container
    h2.about-service__title О сервисе
    p.about-service__description.
      Любое путешествие веселее<br>
      с попутчиками, которые на
      одной волне с тобой! Делитесь своими идеями путешествий и
      черпайте вдохновение в чужих.
    p.about-service__call-to-action.
      А если найдете кого-то<br>
      близкого по духу — скорее<br>
      зовите в совместный трип!
