section.profile
  .container
    h2.profile__title Добавьте свой профиль!
    table.profile__info
      tbody
        tr
          td Базовое размещение
          td Бесплатно
        tr
          td Вывод на первых позициях
          td 99 руб./мес
        tr
          td Кастомный цвет карточки
          td 59 руб./мес
    a.profile__button.open-modal(href="#modal") Показать тарифы для бизнеса
    .modal.modal--no-js.modal--closed
      h2.modal__title#modal Бизнес-тарифы
      table.modal__price
        tbody
          tr
            td Реклама у блоггера
            td 300 000 руб./пост
          tr
            td Накрутка подписчиков
            td от 1 руб./шт.
          tr
            td Лайки от ботов
            td от 20 коп./лайк
          tr
            td Ваш продакт-плейсмент
            td Индивидуально
      button.modal__button.close-modal Закрыть окно
