section.profile
  .container
    h2.profile__title Добавьте свой профиль
    table.profile__info
      tbody
        tr
          td Базовое размещение
          td Бесплатно
        tr
          td Вывод на первых позициях
          td 99 руб./мес
        tr
          td Кастомный цвет карточки
          td 59 руб./мес
    a.profile__button(href="#") Показать тарифы для бизнеса
