section.interesting
  .container
    h2.interesting__title Заинтересовались?
    p.interesting__desc.
      Зарегистрируйтесь,<br>
      это быстро и бесплатно!<br>
      Уже зарегистрированы? Тогда
      скорее <a class="interesting__auth" href="#">авторизуйтесь</a>.
    form.interesting__form(action="#")
      input(type="email" placeholder="E-mail")
      button.interesting__button(type="submit")
        span.visually-hidden Регистрация
    p.interesting__make-question.
      Остались вопросы?<br>
      Мы с радостью на них ответим!
    .interesting__about-us
      p.interesting__about-us__item.interesting__about-us__item--tel
        a(href="tel:+78005558628") 8 800 555-86-28
      p.interesting__about-us__item.interesting__about-us__item--mail
        a(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
