-
  var btnInfo = [
    {
      block_name: "add-plan__button",
      name: "Даты",
      active: "slider-btn--active"
    },
    {
      block_name: "add-plan__button",
      name: "Маршрут",
      active: ""
    },
    {
      block_name: "add-plan__button",
      name: "Развлечения",
      active: ""
    }
  ]

include ./__slider-btn/__slider-btn

section.add-plan
  .container
    h2.add-plan__title Добавить план:
    .add-plan__buttons-container
      each option in btnInfo
        +slider-btn(option)
    form.add-plan__form(action="")
      include ./__steps/__steps
