.about-service {
  background-color: @background-color;
  background-image: url("./../../../img/about-mobile@1x.png"),
                    linear-gradient(@about-service-elemen, @about-service-elemen);
  background-repeat: no-repeat;
  background-position: 17px 11px,
                       0 11px;
  background-size: 292px 352px,
                   132px 132px;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 8.5%;
  padding-bottom: 65px;
  padding-top: 20px;
  margin-top: -1px;

  position: relative;
}

.about-service__title {
  margin-top: 25px;
  margin-bottom: 18px;

  font-size: 24px;
  line-height: 24px;
  color: @title-color;
  font-weight: @bold;
}

.about-service__description {
  font-weight: @light;
  width: 210px;
  margin-bottom: 19px;
}

.about-service__call-to-action {
  font-weight: @bold;
  margin-top: 0;
}
