.directions {
  background-color: @background-color-direct;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  padding-top: 100px;
  padding-bottom: 30px;

  margin-top: -50px;
  position: relative;
  z-index: 8;

  color: @directions-text-color;

  .tablet({

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    padding-top: 86px;
    padding-bottom: 30px;
    padding-left: 4.5%;

    &::before {
      content: "";

      position: absolute;
      top: 130px;
      right: 40px;

      width: 289px;
      height: 575px;
      background-image: url("./../../../img/flags-back@1x.png");
      background-repeat: no-repeat;
      background-size: 289px 575px;

      .image({
        background-image: url("./../../../img/flags-back@2x.png");
      });
    }

    &::after {
      content: "";

      position: absolute;
      z-index: -1;
      top: 456px;
      left: 40px;

      width: 141px;
      height: 141px;
      border-radius: 20px;
      background-color: @bg-element-color;
    }
  });
}

.directions__title {

  padding-left: 9%;

  font-size: 24px;
  line-height: 24px;
  color: @title-color;
  font-weight: @bold;

  .tablet({
    padding-left: 0;

    font-size: 45px;
    line-height: 45px;
    margin-bottom: 58px;
  });
}

.directions__description {

  line-height: 22px;

  font-weight: @light;

  padding-left: 9%;
  margin-bottom: 61px;
  width: 82%;

  .tablet({
    font-size: 28px;
    line-height: 33px;

    padding-left: 0;
    margin-bottom: 102px;
    width: 53%;
  });
}

.directions__list {
  .reset();

  max-width: 270px;
  margin: 0 auto;

  &__item {
    margin-bottom: 10px;
  }

  .tablet({
    max-width: 100%;
    width: 94.1%;
    margin: 0;
  });
}

.direction-card {

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 87px;
    left: 24px;
    width: 35px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 35px 24px;
    z-index: 1;
  }

  &--thailand {
    &::before {
      background-image: url("./../../../img/flag-thailand.svg");
    }
  }

  &--france {
    &::before {
      background-image: url("./../../../img/flag-france.svg");
    }
  }

  &--czech {
    &::before {
      background-image: url("./../../../img/flag-czech.svg");
    }

    position: relative;

    &::after {
      content: "";
      width: 270px;
      height: 81px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom, fade(@color-main, 0%) 0%, @background-color-direct 100%);
    }
  }

  &__title {
    color: @header-color;
    font-size: 21px;
    line-height: 21px;
    font-weight: @bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__description {
    line-height: 18px;
    font-weight: @medium;
    color: fade(@directions-text-color, 30%);
    margin-top: 0;
    margin-bottom: 0;
  }

  &__count {
    color: fade(@directions-text-color, 30%);
    font-weight: @medium;

    display: block;
    transform: translate(179px, -39px);

    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -19px;
      top: 4px;

      opacity: 0.3;

      width: 11px;
      height: 11px;

      background-image: url("./../../../img/user.svg");
      background-repeat: no-repeat;
    }
  }

  &__container {
    border-radius: 10px;

    padding-left: 25px;
    padding-top: 28px;

    position: relative;
    margin-top: -17px;

    background-color: @color-main;
  }

  .tablet({
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    max-height: 140px;

    &::before {
      top: 2vw;
      // left: 400px;
      left: 52vw;
      width: 70px;
      height: 47px;
      background-size: 70px 47px;
    }

    &--czech {

      &::after {
        content: "";
        width: 100%;
        height: 81px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, fade(@color-main, 0%) 0%, @background-color-direct 100%);
      }
    }

    &__title {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 5px;
    }

    &__description {
      font-size: 20px;

      margin-bottom: 20px;
    }

    &__count {
      font-size: 20px;

      transform: translate(0, 0);

      margin-left: 28px;

      &::before {
        left: -29px;
        top: 0;

        opacity: 0.1;

        width: 20px;
        height: 20px;
      }
    }

    &__container {
      order: -1;
      border-radius: 0;

      width: 72%;
      flex-grow: 1;

      padding-left: 33px;
      padding-top: 33px;

      margin-top: 0;
    }

    &__img {
      width: 189px;
      height: 140px;
    }
  });

}

.directions__button {
  width: 270px;
  height: 62px;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 23px;

  position: relative;
  display: block;

  border-radius: 10px;

  font-size: 18px;
  color: @triangle-color;
  line-height: 18px;
  font-weight: @bold;
  text-transform: initial;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    right: 22px;
    top: 24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent @triangle-color;
  }

  .tablet({
    width: 94.1%;
    height: 81px;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 35px;

    border-radius: 20px;

    font-size: 24px;
    line-height: 24px;

    &::before {
      right: 33px;
      top: 33px;
    }
  });
}
