footer.footer
  .container
    .footer__logo
      a(href="index.html") #[+picture({webp: false}, "logo-blue", "png", "logo-img", "100", "19", "Логотип компании Погнали")]
    ul.social-list.footer__social-list
      li.social-list__item.social-list__item--fb
        a(href="https://www.facebook.com/?ref=logo")
          span.visually-hidden Facebook
          include ./../../../img/facebook.svg
      li.social-list__item.social-list__item--vk
        a(href="https://vk.com/olimper")
          span.visually-hidden Vkontakte
          include ./../../../img/vk.svg
      li.social-list__item.social-list__item--insta
        a(href="https://www.instagram.com/")
          span.visually-hidden Instagram
          include ./../../../img/instagram.svg
    p.author
      span.author__text Разработано
      a(class="author__link" href="https://htmlacademy.ru/")
        span.visually-hidden HtmlAcademy
        include ./../../../img/htmlacademy.svg

