@import "./variables";
@import "./mixins";
@import "./normilize";
@import "./font";
@import "./../blocks/button";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: @font-main;
  font-size: @main-font-size;
  font-weight: @light;
  line-height: 22px;
  color: @color-main;

  min-width: 320px;
}

a {
  color: @color-main;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 84%;
  margin: 0 8%;

  position: relative;

  .tablet({
    width: 89.6%;
    margin: 0 5.2%;
  });

  .desktop({
    width: 1320px;
    margin: 0 auto;
  });
}
