section.profile
  .container
    h2.visually-hidden Данные профиля
    form.profile__form(action="")
      include ./__level/__level
      include ./__img/__img
      include ./__btn/__btn
      include ./__hashtags/__hashtags
      include ./__transport/__transport
