.hastags.profile__hastags
  label(for="hastags").hastags__label Тэги
  textarea.hastags-text.profile__hastags-text#hastags(placeholder="Коротко о себе в виде 5-8 хештэгов").
    #бургер #бар #футбол #концерт #крафт


