.main-header {
  background-color: @header-color;
  background-image: url("./../../img/globe-back-mobile@1x.jpg"),
                    linear-gradient(@header-color, @header-color),
                    linear-gradient(@background-color, @background-color);
  background-repeat: no-repeat;
  background-size: 100% 40%,
                   100% 31%,
                   100% 30%;
  background-position: 50% 12%,
                       50% 65%,
                       30% 100%;
  padding-top: 26px;

  .image({
    background-image: url("./../../img/globe-back-mobile@2x.jpg"),
                      linear-gradient(@header-color, @header-color),
                      linear-gradient(@background-color, @background-color);
  });

  .tablet({
    padding-top: 41px;

    .container {
      display: flex;
      flex-wrap: wrap;
    }

    background-image: url("./../../img/globe-back-tablet@1x.jpg"),
                      linear-gradient(@background-color, @background-color);

    background-size: 189% 612px,//53.6%
                     100% 100%;

    background-position: 50% 384px,//73.3%
                         50% 0;

    .image({
      background-image: url("./../../img/globe-back-tablet@2x.jpg"),
                        linear-gradient(@background-color, @background-color);
      background-size: 189% 612px,
                       100% 100%;
    });
  });

  .desktop({
    padding-top: 47px;

    background-image: url("./../../img/globe-back-desktop@1x.jpg");

    background-size: 1800px;

    background-position: 49.3% -1%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    .image({
      background-image: url("./../../img/globe-back-desktop@2x.jpg");
      background-size: 1800px;
    });
  });
}

.logo {
  .tablet({
    order:0;
    width: 70%;
    .logo-img {
      width: 166px;
      height: 42px;
    }
  });

  .desktop({
    order:0;
    width: 200px;
    .logo-img {
      width: 200px;
      height: 52px;
    }
  });
}

.main-title {
  text-align: center;
  line-height: 40px;
  font-size: 36px;
  font-weight: 800;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 244px;
  width: 237px;

  .tablet({
    line-height: 70px;
    font-size: 60px;
    margin-bottom: 85px;
    margin-top: 72px;
    width: 407px;

    order: 2;
  });

  .desktop({
    margin-bottom: 0;
    margin-top: 103px;
    margin-left: 68px;

    text-align: left;
  });
}

.open-button {
  position: absolute;
  right: 5px;
  top: 2px;
  width: 25px;
  height: 11px;
  background-color: inherit;
  border: none;
  z-index: 3;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: -6px;
    width: 25px;
    height: 3px;
    background-color: @color-main;
    border-radius: 1px;
    transition: all 0.5s;
  }

  &::after {
    top: 10px;
  }

  &--opened {
    &::before,
    &::after {
      transform: rotate(45deg);
      top: 7px;
      background-color: @stroke-color-icon;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .tablet({
    right: 49%;
    top: 1.5%;
  });

  .desktop({
    display: none;
  });
}

.user-list {
  .reset();

  margin: 0 auto;

  width: 270px;

  display: flex;

  position: relative;
  z-index: 1;

  margin-bottom: 25px;

  a {
    display: block;
    height: 40px;
  }

  &::before {
    content: "";
    width: 192px;
    height: 255px;

    top: -235px;
    right: 25px;
    position: absolute;
    z-index: -1;

    background-image: url("./../../img/traveller-illustration-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 100%;

    .image({
      background-image: url("./../../img/traveller-illustration-mobile@2x.png");
    });
  }

  &__item {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: 50% 50%;

    &--tel {
      background-color: @circle-tel-color;
      background-image: url("./../../img/topmenu-phone.svg");
      background-size: 18px;
    }

    &--mail {
      background-color: @circle-email-color;
      background-image: url("./../../img/topmenu-mail.svg");
      background-size: 18px 14px;
    }

    &--button {
      width: 189px;
      height: 40px;
    }
  }

  .tablet({
    order:1;

    margin-left: auto;

    width: auto;

    display: block;

    margin-bottom: 0;
    margin-right: 0;

    &::before {
      width: 372px;
      height: 451px;

      top: 724%;
      right: 38%;

      background-image: url("./../../img/traveller-illustration-tablet@1x.png");

      .image({
        background-image: url("./../../img/traveller-illustration-tablet@2x.png");
      });
    }

    &__item {

      &--tel {
        display: none;
      }

      &--mail {
        display: none;
      }

      &--button {
        width: 188px;
        height: 50px;

        button {
          height: 50px;
          font-size: 20px;
          line-height: 30px;

          border-radius: 25px;
        }
      }
    }
  });

  .desktop({
    width: 287px;

    position: static;

    display: flex;

    &::before {
      width: 431px;
      height: 640px;

      top: 62px;
      right: 345px;

      z-index: -1;

      background-image: url("./../../img/traveller-illustration-desktop@1x.png");

      .image({
        background-image: url("./../../img/traveller-illustration-desktop@2x.png");
      });
    }

    &__item {

      &--tel {
        display: block;
        width: 50px;
        height: 50px;
      }

      &--mail {
        display: block;
        width: 50px;
        height: 50px;
      }
    }
  });
}

.user-review {

  margin-left: 9%;

  &__text {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
    width: 170px;
  }

  &__author {
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 32px;
    width: 155px;
  }

  .tablet({
    width: 100%;
    order:3;
    margin-left: 5%;

    &__text {
      margin-bottom: 45px;
      width: 270px;
      font-size: 28px;
      line-height: 33px;
    }

    &__author {
      margin-bottom: 210px;
      width: 260px;
      font-size: 21px;
      line-height: 25px;
    }
  });

  .desktop({
    width: 285px;
    margin-left: auto;
    margin-top: 114px;

    &__text {
      margin-bottom: 45px;
      width: 270px;
    }

    &__author {
      margin-bottom: 113px;
    }
  });
}

.journey-steps {
  .reset();

  width: 100%;

  padding-bottom: 0;

  color: @header-color;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;

  .tablet({
    order:4;

    font-size: 24px;
    line-height: 24px;

    display: flex;
    flex-wrap: wrap;

    width: 100%;
  });
}

.journey-step {
  padding-bottom: 32px;
  padding-top: 21px;
  padding-left: 9%;
  padding-right: 9%;
  margin-top: -10px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  justify-content: space-between;

  .step-text {
    width: 140px;
  }

  &:nth-child(1) {
    background-color: @circle-tel-color;

    margin-top: 0;
  }

  &:nth-child(2) {
    background-color: @journey-step-color-2;
  }

  &:nth-child(3) {
    background-color: @circle-email-color;
  }

  &:nth-child(4) {
    background-color: @default-button-color;
  }

  .tablet({
    flex-basis: 49.8%;
    padding-bottom: 35px;
    padding-top: 31px;
    padding-left: 5%;
    margin-top: -10px;

    max-height: 152px;

    margin-left: -3%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: block;

    .step-text {
      width: 188px;
      display: block;
      margin-bottom: 4.5%;
    }

    &:nth-child(1) {

      margin-top: 0;
      margin-left: 0;

      flex-basis: 53%;
      border-top-right-radius: 0;
    }

    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(3) {

      margin-left: 0;

      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 20px;

      padding-bottom: 22px;

      flex-basis: 53%;
    }

    &:nth-child(4) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;

      padding-bottom: 22px;
    }
  });

  .desktop({
    z-index: 1;
    flex-basis: 330px;
    padding-bottom: 35px;
    padding-top: 31px;
    padding-left: 35px;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 122px;

    max-height: 110px;

    margin-left: -19px;

    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;

    display: flex;

    &:nth-child(1) {
      flex-basis: 330px;
      padding-right: 50px;
    }

    &:nth-child(2) {
      padding-right: 48px;
      flex-basis: 364px;
    }

    &:nth-child(3) {

      margin-left: -19px;
      padding-right: 50px;

      border-top-left-radius: 20px;

      flex-basis: 366px;
    }

    &:nth-child(4) {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      padding-right: 31px;

      flex-basis: 315px;
    }
  });
}

.step-number {
  color: @color-main;

  .tablet({
    font-size: 30px;
  });

  .desktop({
    font-size: 24px;
  });
}
