.main-header {
  background-color: @header-color;
  background-image: url("./../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 0%;
  padding-top: 26px;

  .image({
    background-image: url("./../../img/globe-back-mobile@2x.jpg");
  });

  .tablet({
    background-image: url("./../../img/globe-back-tablet@1x.jpg");
    background-size: 100%;

    .image({
      background-image: url("./../../img/globe-back-tablet@2x.jpg");
      background-size: 100%;
    });
  });

  .desktop({
    background-image: url("./../../img/globe-back-desktop@1x.jpg");
    background-size: 100%;

    .image({
      background-image: url("./../../img/globe-back-desktop@2x.jpg");
      background-size: 100%;
    });
  });
}

.main-title {
  margin-top: 42px;
  text-align: center;
  line-height: 40px;
  font-size: 36px;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 244px;
  width: 237px;
}

.open-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 11px;
}

.user-list {
  .reset();

  margin: 0 auto;

  width: 270px;

  display: flex;

  position: relative;
  z-index: 1;

  &::before {
    content: "";
    width: 192px;
    height: 255px;

    top: -235px;
    right: 25px;
    position: absolute;
    z-index: -1;

    background-image: url("./../../img/traveller-illustration-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 100%;

    .image({
      background-image: url("./../../img/traveller-illustration-mobile@2x.png");
    });
  }

  &__item {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    &--tel {
      background-color: @circle-tel-color;
    }

    &--mail {
      background-color: @circle-email-color;
    }

    &--button {
      width: 189px;
      height: 40px;
    }
  }
}

.menu {
  display: none;
}
