mixin direction-card(title, desc, count, img)
  li(class="directions__list__item direction-card direction-card--" + img)
    +picture({webp: false, tablet: true}, img, "jpg", "direction-card__img", "270", "110", "Направление " + title)
    div(class="direction-card__container")
      h3.direction-card__title=title
      p.direction-card__description=desc
      span.direction-card__count=count
