extends ./../layouts/minor.pug

block variables
  - var pageTitle = "Pognali - выбор направления"
  - var title = "Направления"

block content
  main.page-main
    include ./../../blocks/form.blocks/common.blocks/profile/profile.pug
    include ./../../blocks/form.blocks/common.blocks/plans/plans.pug
    include ./../../blocks/form.blocks/common.blocks/add-plan/add-plan.pug
