extends ./../layouts/main.pug

block variables
  - var pageTitle = "Pognali - главная страница"

block content
  main.page-main
    include ./../../img/icons.svg
    include ./../../blocks/index.blocks/about/about
    include ./../../blocks/index.blocks/directions/directions
    include ./../../blocks/index.blocks/companions/companions
    include ./../../blocks/index.blocks/add-profile/add-profile
    include ./../../blocks/index.blocks/interesting/interesting
    include ./../../blocks/index.blocks/map/map



