.date__calendar.calendar
  .calendar__container
    button.calendar__decrease(type="button") <span class="visually-hidden">Предыдущий месяц</span>
    h3.calendar__title Март 2020
    button.calendar__increase(type="button") <span class="visually-hidden">Следующий месяц</span>
  table.calendar__table
    thead.calendar__day-name
      tr
        td П<span class="visually-hidden">н</span>
        td В<span class="visually-hidden">т</span>
        td С<span class="visually-hidden">р</span>
        td Ч<span class="visually-hidden">т</span>
        td П<span class="visually-hidden">т</span>
        td С<span class="visually-hidden">б</span>
        td В<span class="visually-hidden">с</span>
    tbody.calendar__day-number
      tr
        td 24
        td 25
        td 26
        td 27
        td 28
        td 29
        td 1 <span class="visually-hidden">мар</span>
      tr
        td 2
        td 3
        td 4
        td 5
        td 6
        td 7
        td 8
      tr
        td 9
        td 10
        td 11
        td.relevant.active.clicked 12
        td.relevant.active 13
        td.relevant.active 14
        td.relevant 15
      tr
        td.relevant 16
        td.relevant 17
        td.relevant 18
        td.relevant 19
        td.relevant 20
        td.relevant 21
        td.relevant 22
      tr
        td.relevant 23
        td.relevant 24
        td.relevant 25
        td.relevant 26
        td.relevant 27
        td.relevant 28
        td.relevant 29
      tr
        td.relevant 30
        td.relevant 31
        td.relevant 1 <span class="visually-hidden">апр</span>
        td.relevant 2
        td.relevant 3
        td.relevant 4
        td.relevant 5
