.tablet({
  .hastags {
    flex-direction: column-reverse;

    padding-bottom: 0;
  }

  .hastags__label {
    .font-set(20px, 18px, @medium);
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;

    letter-spacing: 0.1em;

    transform: translateY(22px);
  }

  .hastags-text {
    padding-left: 9%;

    .font-set(20px, 24px, @regular);
  }
});


