@import "./__country-select/__country-select";

.route {
  .tablet({
    // padding-bottom: 9px;

    &__description {
      margin-bottom: 31px;
      margin-top: 35px;
      .font-set(20px,24px,@regular);
      width: 80%;
    }

    &__country-list {
      padding-top: 41px;
      border-top: 1px solid @input-border-color;

      margin: 0 auto;

      width: 532px;
    }

    &__buttons-container {
      margin-top: 50px;
    }

    &__next-step {
      // .btn-triangle();
      // background-color: @default-button-color;
      // color: @add-plan-text-button-color;
      // padding: 0;
      // display: block;
      // letter-spacing: 0;
      // text-align: center;
      // text-transform: uppercase;
      // .font-set(17px,30px,@bold);

      // width: 102%;
      // transform: translate(-2px);
      // height: 40px;
      // border-radius: 20px;

      // &::before {
      //   display: none;
      // }
    }

    &__prev-step {
      // .reset-btn();

      // text-align: center;
      // width: 100%;
      // text-transform: uppercase;
      // color: @add-plan-title-color;
      // .font-set(17px,30px,@bold);

      // margin-top: 12px;
    }
  });
}
