include ./../mixins/picture
include ./../mixins/directions-card
block variables

doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="preload" href="fonts/bloggersans.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/bloggersans-bold.woff2" as="font" crossorigin="anonymous")
    title=pageTitle
  body
    include ./../modules/header
    block content
